.input__error {
    display: none;
}

.input__error {
    color: var(--warning-color);
    font-size: 1.4rem;
    margin-top: -2.6rem;
    margin-bottom: -2.5rem;
}

.form__input--error {
    border: red solid .1rem;
    border-radius: .4rem;
}