* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --warning-color: red;
    font-size: 62.5%;
    --bg-color: #0A0A0A;
    --menu-card: #212121;
    --primary-text: #FFFFFF;
    --secondary-text: #BFBFBF;
    --btn-primary: #3ea6ff;
}

body {
    font-size: 1.6rem;
    color: var(--primary-text);
}

.main-container {
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 32.0rem;
    padding: .6rem;
}

.box-container {
    height: auto;
    display: flex;
    flex-direction: column;
    background: var(--menu-card);
    gap: 3.0rem;
    border: .1rem solid #ccc;
    border-radius: 1.6rem;
    padding: 1.6rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    gap: 3.0rem;
    align-items: center;
}

.box__title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    align-self: center;
}

.box__result {
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    align-self: center;
    height: 3.0rem;
}

@media (max-width: 349px) {
    .box__result {
        display: flex;
        align-items: center;
    }
}

.form__letter {
    margin-right: 1.0rem;
}

.form__input {
    padding: .7rem;
    font-size: 2.0rem;
    border: none;
    border-radius: .5rem;
    color: var(--secondary-text);
    background: var(--bg-color);
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.form__input:focus {
    outline: #008CBA solid .2rem;
}

.form__button {
    background: var(--primary-text);
    color: var(--bg-color);
    font-size: 2.0rem;
    padding: .6rem;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: 0.2rem solid #008CBA;
    border-radius: 1.0rem;
    transition: background 0.4s;
}

.form__button:hover {
    background: #008CBA;
    color: var(--primary-text);
}

.form-rows {
    display: flex;
    flex-direction: row;
}